.parent {
    border: 1px solid black;
    align-self: center;
    width: 450px;
    height: 530px;
    background-color: cadetblue;
    margin-left: 33%;
    margin-top: 40px;
    border-radius: 10px;
    
}
.Email{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;

}
input{
    width: 270px;
    height: 35px;
    border-radius: 10px;
}
.btnparent {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.btn {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 40px;
    align-items: center;
    background-color: rgb(178, 94, 25);
    border-radius: 10px;


}

.Address {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items:center;
    margin-left: 0.5%;
    
}
h1{
    display: flex;
    justify-content: center;
}
li{
    display: flex;
    justify-content: center;
    color: red;
    
}
.select {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}
select{
    width: 200px;
}