 .main{
    border: 1px solid black;
    width:100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:hsla(hue, saturation, lightness, alpha);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 1000;
    flex: 1;
}

 .search{
    height: 30px;
    width: 740px;
    border-radius: 5px,5px,5px,0px;
}  
button{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color:blue;
    color: aliceblue;
}

.count{
    display: flex;
    align-items: center;
}
h4{
    color: rgb(223, 48, 48);
    position: absolute;
    margin-left: 16px;
    padding-bottom: 28px;
}